## General

*.pyc
*.ipynb_checkpoints
__pycache__

*.npy
# *.pkl

*.swp
*.swo

.envrc

.vscode
configs/__pycache__
env/__pycache__


## Project

*.pth
*live.ipynb

/output
/output/**


